#cuadricula {
    display: grid;
    grid-template-columns:100px 75px 150px 75px 100px;
    grid-template-rows:repeat(3,100px);
    
    width:500px;
    position:absolute;
    top:100px;
    left:100px;
  }
  
  
  .item {
    border: 1px solid #000; 
    border-radius:10px;
    background-color:hsla(180,100%,50%,.5);  
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    display:grid;
  }
  
  .item p {
    justify-self: center;
    align-self: center;
    color:white;
  }
  
  
  /*SVG*/
  
  .wrapper{width:700px;margin:0 auto;position:relative;}
  svg {
    margin: 0;
  }
  
  
  path {
    stroke: #777;
    fill: none;
  }
  
  .lines {
    stroke-dasharray: 5, 5;
    stroke-dashoffset: 2.5;
  }
  
  #grid {
    fill: none;
    stroke: #d9d9d9;
  }
  
  .flecha {
    stroke-width: 3px;
    marker-end: url(#end);
    marker-start: url(#start);
  }
  
  
  text {
    font-family: Consolas;
    fill: #777;
    stroke: none;
  }
  
  .textH {
    text-anchor: middle;
  }
  
  .textV {
    text-anchor: end;
    dominant-baseline: central;
  }
  
  body {
    font-family: Verdana, Geneva, sans-serif;
    background-color:#222;
    color:#777;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /*.controls*/
  .controls{line-height:200%;}
  .controls span{display:inline-block; width:170px;}
  .controls select{background-color:#555; color:white;border:none;font-size:1em; }
  .output{display:flex; flex:1 1 40%; justify-content:space-between; width:500px; padding:0 100px;}
  .shorthand{ color:#F2C14E; line-height:1.5em;}
  